body {
  width: 800px;
  background-color: #2ba6cb;
}
.indx {
  color: #444;
  position: absolute;
  right: 25px;
  margin-top: 3px;
}

#main-container {
  height: 100%;
}
#logo {
  padding-left: 20px;
}
#logo h3 {
  color: white;
  font-weight: 300px;
  text-decoration: italic;
}
#tab-select {
  padding-top: 10px;
  background: white;
}
#preview {
  padding-top: 5px;
  padding-bottom: 10px;
}

#preview h2 {
  font-weight: 300;
  text-align: center;
  font-size: 23px;
  color: white;
}

.twitter-typeahead {
  width: 100%;
}

.tt-suggestion div {
  font-size: 13px;
  margin-bottom: 0px;
  overflow: hidden;
}

.tt-suggestion img {
  margin-right: 2px;
}

.tt-suggestion {
  padding: 5px;
  margin-bottom: 5px;
  padding-right: 35px;
  height: 29px;
}

.tt-dropdown-menu {
  width: 100%;
}

.selected .indx {
  color: white;
}

.selected {
  color: white;
  background-color: #F47F24;
}

.preview {
  position: absolute;
  left: -500px;
}
